body {
    text-align: center;
    display: block;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 100%;
}

#navbar {
    
    overflow: hidden;
    background-color: #333;
    border: solid blue;
    z-index: 3;


}



figcaption{
  font-size: inherit;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}

  #navbar a:hover{
    color: red;
    font-size: 30px;
}

#banner{
    background-image: url(./images/logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.search, .random{
    flex: auto;
   
   color: white;
   font-size: 18px;
   
   
   
}
  
/* Track */
/* width */
#main::-webkit-scrollbar {
    width: 15px;
  }
#main::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #main::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #main::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  

#main{
    background-color: rgb(151, 132, 132);
    display: inline-flex;
    flex-flow: wrap;
    overflow: scroll;
    
      
    max-width: 70%;
    max-height: 600px;
    
}



img {
   

    padding: 20px;
    height: 200px;
    width: 168px;
    
}
 
img:hover {
    height: 400px;
    width: 200px;
}

#rateFilm{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 202, 202);
    border-radius: 20px;
    margin: 20px 40px;
    border: solid blue;
    
}

#javaScript{
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
   border-radius: 20px;
   margin: 20px 40px;
}

#java1, #java2 {
    margin: 10px;
    background-color: lightblue;
    font-family: monospace;
    font-size: 18px;
}

.btn {
   color: rgb(3, 43, 83);
   font-family: monospace;
   font-size: 15px;
   box-shadow: 5px 5px blue;
}

.news{
    display: flex;
    flex-flow: wrap;
    border:20px;
    margin: 20px 100px;
    
    font-size: 20px;
    color: rgb(9, 250, 69);
    background-image: url(./images/galaxy.jpg);
    background-size: 100% 100%;
    
}



footer {
    background: black;
    color: white;
    margin: 20px 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
}
 



@media  screen and (max-width: 600px) {
  
   
    #navbar {
        border: solid red;
    }

    #navbar a {
       float: none;
       width: 100%;
       padding: 10px;
       
   }

   #banner{
    flex-direction: row;
    background-image: url(./images/OIP.jpg); 
    background-size: 100% 100%;

   }





   #main{
     
     background: black;
     color: white;
     float: none;
     max-width: 100%;
     
   } 


#rateFilm{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid red;
    color: ivory;
    background-color: rgb(66, 64, 64);
    margin: 5px 5px;
    }

#rateFilm img{
    float:left;
    margin-top: 20px;

}

#rateFilm p {
    word-wrap: normal;
    margin-top: 60px;
    
    }

    .news {
      margin: auto;
      width: 100%;
    }

    #java1, #java2 {
        margin: 5px;
      
}
}